*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans&family=Prompt:wght@500&family=Roboto&display=swap');


.cardHighlight {
  min-height: 100%;
}


.prompt-text{
  font-family: 'Prompt',sans-serif;
}

.img-fit {
  height: 300px;

  width: 400px;
  object-fit: contain !important;
}

.align-end{

  align-items: flex-end;
}

.black-color {
  color: #010101;
}

.black-whiter {
  color: #1C1C1C;
}

.greyish {
  color: #4A4A4A;
}

.lightgrey {
  color: #6D6D6D;
}

.whiteish{
  color: #E6E6E6;
}


.black-bg-color {
  background-color: #010101;
}

.black-bg-whiter {
  background-color: #1C1C1C;
}

.greyish-bg {
  background-color: #4A4A4A;
}

.lightgrey-bg {
  background-color: #6D6D6D;
}

.whiteish-bg{
  background-color: #E6E6E6;
}